﻿<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/style.css" />
    @RenderSection("StyleSheets", required: false)
</head>
<body>
    <div class="dashboard">
        <header class="dbHeader">
            <h2>Stagesysteem</h2>
        </header>
        <div class="dbContainer">

            <div class="dbSidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-home"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Index"><i class="fas fa-id-card"></i> Mijn profiel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Internship" asp-action="Index"><i class="fas fa-list"></i> Stageplekken</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Internship" asp-action="Index"><i class="fas fa-calendar-day"></i> Werkstaten</a>
                    </li>
                </ul>
                <ul class="nav adminNav flex-column">
                    <li class="nav-item">
                        <h6><i class="fas fa-cogs"></i> Administrator</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Admin"><i class="fas fa-envelope"></i> Berichten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Internship" asp-action="Admin"><i class="fas fa-users"></i> Gebruikers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Internship" asp-action="Admin"><i class="fas fa-calendar-day"></i> Werkstaten beheren</a>
                    </li>
                </ul>
            </div>
            <main class="dbMain">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
