﻿@model User
@{
    ViewData["Title"] = "Profiel";
}
@ViewBag.Data
<div class="row">


    <div class="col-md-4 col-md-offset-2">
        <div class="card">
            <div class="card-header">
                Mijn gegevens
            </div>
            <div class="card-body">
                @if (TempData["UserMessage"] != null)
                {
                    var message = (AppMessage)TempData["UserMessage"];
                    <div class="alert @message.CssClassName" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@message.Title</strong>
                        @message.Message
                    </div>
                }
                <form asp-action="Edit" asp-controller="Profile">
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input asp-for="Email" type="text" readonly class="form-control-plaintext" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fName" class="col-sm-4 col-form-label">Voornaam</label>
                        <div class="col-sm-8">
                            <input asp-for="FirstName" type="text" class="form-control" id="fName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mName" class="col-sm-4 col-form-label">Tussenvoegsel</label>
                        <div class="col-sm-8">
                            <input asp-for="MiddleName" type="text" class="form-control" id="mName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lName" class="col-sm-4 col-form-label">Achternaam</label>
                        <div class="col-sm-8">
                            <input asp-for="LastName" type="text" class="form-control" id="lName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Nieuw wachtwoord</label>
                        <div class="col-sm-8">
                            <input asp-for="Password" type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="col-sm-4 col-form-label">Wachtwoord bevestigen</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword2">
                        </div>
                    </div>

                    <button type="submit" class="form-control btn btn-primary ">Opslaan</button>
                </form>
            </div>
        </div>
    </div>
</div>