﻿@model User;
@{
    ViewData["Title"] = "Dashboard";
    
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Mijn stages
            </div>
            <div class="card-body">
          
                
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                beschikbare stageplekken voor jou
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>