﻿@model User
@{
    Layout = "_NoLayout";
    ViewData["Title"] = "Inloggen";
}


@section StyleSheets {
<link rel="stylesheet" href="/css/fontawesome.css" />
<link rel="stylesheet" href="/css/login.css" />
}

<div class="loginPage">
    <div class="loginForm">
        <h2>Stagesysteem</h2>
        @if (TempData["UserMessage"] != null)
        {
            var message = (AppMessage)TempData["UserMessage"];
            <div class="alert @message.CssClassName" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>@message.Title</strong>
                @message.Message
            </div>
        }
        <form asp-action="Index" asp-controller="Login">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addOnUname"><i class="fas fa-envelope"></i></span>
                </div>
                <input asp-for="Email" type="text" class="form-control" placeholder="E-mailadres" aria-describedby="addOnUname">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addOnPwd"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="Password" type="password" class="form-control" placeholder="Wachtwoord" aria-describedby="addOnPwd">
            </div>

            <button type="submit" class="form-control btn btn-primary ">Inloggen</button>
        </form>
    </div>
</div>