﻿.loginPage {
    background-color: #F1F9FF;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.loginForm {
    align-self: center;
    border: 2px solid #1289A7;
    padding: 50px;
    background-color: #efefef80;
    border-radius: 50px 15px;
    text-align: center;
}

.loginForm h2 {
    margin-bottom: 30px;
    color: #333;
}

.loginForm .form-control {
    width: 445px;
}

.loginForm .btn {
    background-color: #1289A7;
}