﻿:root {
    --primary: #1289A7;
    --primaryDark: #0E6980;
}

.dashboard {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.dashboard .dbHeader {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--primaryDark);
    height: 60px;
    color: #eeeeef;
    padding: 10px;
}

.dashboard .dbContainer {
    margin-top: 60px;
    display: flex;
    z-index: 5;
    flex: 1;
    position: relative;
}

.dashboard .dbContainer .dbSidebar {
    position: fixed;
    height: 100vh;
    width: 280px;
    overflow: hidden;
    z-index: 7;
    background-color: var(--primary);
}



.dashboard .dbContainer .dbSidebar .nav {
    margin: 15px 0px 0px 15px;
}

.dashboard .dbContainer .dbSidebar .nav.adminNav {
    margin-top:50px;
}

.dashboard .dbContainer .dbSidebar .nav.adminNav h6 {
    color: #FFF;
}


.dashboard .dbContainer .dbSidebar .nav .nav-item {
    border-bottom: 1px solid #eeeeef70;
}

.dashboard .dbContainer .dbSidebar .nav .nav-item a {
    padding: 10px 0;
}

.dashboard .dbContainer .dbSidebar .nav .nav-link {
    color: #eeeeef;
}

.dashboard .dbContainer .dbMain {
    margin: 30px 30px 0px 310px;
    z-index: 6;
    display: flex;
    flex: 1;
    flex-direction: column;
}
