﻿@model IEnumerable<Internship>
@{
    ViewData["Title"] = "Overzicht";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Crebo</th>
                    <th scope="col">Bedrijf</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Begin/eind</th>
                    <th scope="col">Plekken</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Crebo</th>
                        <td>@item.CompanyId</td>
                        <td>@item.Name</td>
                        <td>@item.DateFrom / @item.DateTo</td>
                        <td>@item.AvailableSpots</td>
                        <td>
                            <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>